<div id='wx_logo' style='margin:0 auto;display:none;'>
    <img src='{{ BASE_PATH }}/assets/images/logo.png' />
</div>
<div class="header">
    <div class="header-content">
        <p><a class="sub-home" href="/articles/">Norton.Li|李驰</a></p>
        <div class="sub-title">2017 精进</div>
        <ul>
            <li><a class="ico-home" href="/"><i class="fa fa-home"></a></i>
            </li>
            <li><a class="ico-wechat" href="http://www.coolde.cn/img/wx.png" target="_blank"><i class="fa fa-wechat"></a></i>
            </li>
            <li><a class="ico-weibo" href="http://www.weibo.com/345957657"><i class="fa fa-weibo"></i></a></li>
            <li><a class="ico-github" href="https://www.github.com/nortonlee/"><i class="fa fa-github"></a></i>
            </li>
        </ul>
        <span id="img_placer"></span>
    </div>
</div>
<script src="{{ BASE_PATH }}/articles/assets/js/home.js"></script>