<header class="header">
    <div class="header-content">
        <p><a class="sub-home" href="{{ site.baseurl }}/">Norton.Li|李驰</a></p>
        <div class="sub-title">wěn住 我们能赢</div>
        
        <nav class="header-nav">
            <a href="{{ site.baseurl }}/" title="Home"><i class="fa fa-home"></i></a>
            <a href="{{ site.baseurl }}/tags.html" title="Tags"><i class="fa fa-tags"></i></a>
            <a href="{{ BASE_PATH }}/articles/assets/images/wx.png" target="_blank" title="WeChat"><i class="fa fa-wechat"></i></a>
            <a href="http://www.weibo.com/345957657" target="_blank" title="Weibo"><i class="fa fa-weibo"></i></a>
            <a href="https://www.github.com/nortonlee/" target="_blank" title="GitHub"><i class="fa fa-github"></i></a>
        </nav>
    </div>
</header>