* {
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font: 13.34px helvetica, arial, clean, sans-serif;
    text-align: center;
}

a{
    color:rgb(67, 144, 238);
}

.container{
    width: 100%;
	padding: 0 20px;
}

.site {
    font-size: 110%;
    text-align: justify;
    width: 80%;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
}

.item-header{
    background:url(../images/home-bg.jpg);
    color: #fff;
    width:100%;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    font-size: 48px;
    padding: 3% 20px;
}

.sub-title{
    font-size:18px;
    padding: 0 20px;
}

.markdown-body h3{
    padding: 0 20px;
}

.markdown-body hr{
    width: 90%;
    height:0.1em;
}

.content{
    padding:0 20px;
}

.footer{
    text-align: center;
    width: 100%;
    margin-top: 2em;
    border-top: 4px solid #eee;
    overflow: hidden;
}

.footer p{
    color: #333;
    font-size:14px;
}
