* {
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    text-align: center;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none; 
}

a{
    color:rgb(67, 144, 238);
}

.container{
    width: 100%;
	padding: 0 20px;
}

.site {
    text-align: justify;
    width: 50em;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
}

ul.posts li > a{
    text-decoration: none;
}

#home .category{
    font-size: 1.2em;
    font-weight: bold;
    padding:0 0 .5em 1em;
}

.header{
    background:url(../images/home-bg.png);
    color: #fff;
    width:100%;
    min-height: 6em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    font-size: 48px;
    text-align: center;
}

.header{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-transition: All 2s ease;
    -moz-transition: All 2s ease;
    -o-transition: All 2s ease;
    -ms-transition: All 2s ease;
    transition: All 2s ease;
    background-color: #f5f5d5;
}

.header-content{
    background-color:rgba(0,0,0,0.3);
    width:100%;
    min-height: 6em;
    z-index: 1;
    position: absolute;
}

.header-video video{
    object-fit: unset;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    z-index: 0 !important;
    left: 0;
    height: 6em;
}

.header .sub-home,
.header .ico-wechat,
.header .ico-weibo,
.header .ico-github,
.header .ico-home{
    text-decoration: none;
    color:#fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.header .sub-home:hover{
    text-decoration: none;
    color:rgb(67, 144, 238);
}

.header .ico-wechat:hover{
    color: #44b549;
}

.header .ico-weibo:hover{
    color:#d82524;
}

.header .ico-github:hover{
    color: #000;
}

.header .ico-home:hover{
    color:#9cc8ff;
}

.header p{
    padding-top: 2em;
}

.header ul>li{
    display: inline-block;
    margin: 0 .2em;
    font-size: .5em;
}

.header ul>li>a{
    color: #fff;
}

.sub-title{
    font-size:18px;
    padding: 10px;
}

ul.posts{
    list-style-type: none;
    margin-bottom: 1em;
}

#post{
    padding: 0 20px;
    line-height: 2em;
}

#post img{
    width:80%;
}

#post ol{
    padding: 0 1em;
    color: #595959;
}

#post ol>li>ul{
    padding: 0 20px;
}

ul.posts li {
    line-height: 1.75em;
    padding: 0 20px;
    font-size: 1em;
}

.markdown-body h3{
    padding: 0 20px;
}

.markdown-body hr{
    width: 90%;
    height:0.1em;
}

.content{
    padding:0 20px;
}

.post-content{
    width: 50em;
    margin: 3em auto 2em auto;
    text-align: justify;
}

#related{
    padding: 1em;
}

#related h2{
    margin-bottom: .5em;
}


#related .related-post{
    list-style-type: none;
}

#related .related-post li {
    line-height: 2em;
    padding: 0 20px;
    font-size: .8em;
}

#related .related-post li>a {
    text-decoration: none;
    text-align: justify;
}
.footer{
    text-align: center;
    width: 100%;
    border-top: 2px solid #eee;
    margin: 1em 0;
}

.footer p{
    color: #333;
    font-size:14px;
}

.footer a{
    text-decoration: none;
}

@media screen and (max-width:736px){
    .site{
        width: 100%;
        margin-top: 2em;
    }
    .post-content{
        width:100%;
        margin-top: 2em;
    }

    .post-content h1{
        font-size: 20px;
    }
    
    .pay-url{
        display: block;
        width: 100%;
        height: 100%;
    }
}

blockquote {
    border-left: 2px solid #9cc8ff;
    color: #595959;
    margin: 1.5em 0;
    padding-left: 0.75em;
    font-size: 90%;
}

#post figure {
    border: 1px solid #eee;
    background: #eee;
    border-radius: 5px;
    line-height: 1.5;
    margin: 1em 0;
    padding: 1em 1em;
    overflow: auto;
    webkit-box-shadow: inset 0 1px 10px #eee, 0 1px 0 #eee, 0 -1px 0 #eee;
    -moz-box-shadow: inset 0 1px 10px #eee, 0 1px 0 #eee, 0 -1px 0 #eee;
    box-shadow: inset 0 1px 10px #eee, 0 1px 0 #eee, 0 -1px 0 #eee;
}

.tags{
    line-height: 2em;
    padding: 2em;
}
.tags span{
    border-radius: 15px;
    background: #3399FF;
    padding: 5px 20px;
    color: #fff;
    font-size: .8em;
}

.tags span a{
    text-decoration: none;
    color:#fff;
}