.slides{
    width:90% !important;
    margin-top:1em !important;
}
.logo img{
    height:300px;
}
.head{
    top:2em;
    left:2em;
    text-align:left;
    border-bottom:2px solid #ccc  !important;
}
.content{
    text-align:left;
    padding:2em !important;
    font-size:80% !important;
}
.content div{
    padding: .2em 0;
}
.content .font-bold{
    font-weight:bold;
}
.sub-content{
    text-align:left;
    padding:0 2em !important;
    font-size:80% !important;
}
.sub-content li{
    padding:.4em 0 !important;
}
.reveal pre{
    margin:0 !important;
}
table{
    font-size:20px !important;
}
.pc{
    display: none;
}

.first-page{
    position: fixed;
    font-size: 60% !important;
    right: 5em;
    color:#333 !important;
}
.last-page{
    font-size: 60% !important;
    width: 100%;
    text-align: center;
    margin-top:2em !important;
}
.last-page ul{
    margin: 0 !important;
}
 .last-page ul li{
    display: inline-block;
    margin: 0 4em;
}

.last-page a{
    color:#2a76dd !important;
    -webkit-transition: all .5s ease !important;
    transition: all .5s ease !important;
}

.last-page a:hover{
    color:#6ca0e8 !important;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.last-page .logo{
    margin: 0 !important;
    width: 20px;
    height: 20px;
}

@media screen and (max-width:736px){
    .slides{
        top:50% !important;
        left:50% !important;
        right: auto !important;
        bottom:auto !important;
        transform: translate(-50%, -50%) scale(0.8) !important;
        font-size: 80% !important;
    }
    .pc{
        padding: 20px;
        display: block;
        background: transparent;
        position: fixed;
        top:.5em;
        color: #ccc;
        z-index: 1000;
    }
    .first-page{
        right: 2em;
    }

    .last-page {
        font-size: 100% !important;
    }

    .last-page ul li{
        display: inline-block;
        margin: 0 1em;
    }

    .last-page .link{
        display: none;
    }
    .content{
        padding:2em 0 !important;
        font-size:60% !important;
    }
    .sub-content{
        padding:0 !important;
        font-size:60% !important;
    }
}