body{
    background: #eee;
}

a{
    color:rgb(67, 144, 238);
}

.container{
    width: 100%;
}

.item-header{
    background:url(../images/home-bg.jpg);
    color: #fff;
    width:100%;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    font-size: 48px;
    padding: 0 20px;
}

.sub-title{
    font-size:18px;
    padding: 0 20px;
}

.content{
    padding:0 20px;
}