body{
    background: #eee;
}

a{
    color:rgb(67, 144, 238);
}

.container{
    width: 100%;
}

.item-header{
    background:url(../images/home-bg.jpg);
    color: #fff;
    width:100%;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    font-size: 48px;
    padding: 3% 20px;
}

.markdown-body p{
    padding: 0 20px;
    font-size: 25px;
}

.markdown-body hr{
    width: 90%;
    height:0.1em;
}

.sub-title{
    font-size:18px;
    padding: 0 20px;
}

.content{
    padding:0 20px;
}

.footer{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size:14px;
}

.footer p{
    color: #333;
}