body{
    background: #eee;
    padding:0 20px;
}

a{
    color:rgb(67, 144, 238);
}

.container{
    width: 100%;
}

.foot-image{
    height: 200rem;
    background: url(../../images/33510132.jpg) no-repeat;
    background-size: 100%;
}

.item-header{
    background:#3b73af;
    color: #fff;
    width:100%;
    min-height: 80px;
}